body {
    font-family: 'poppins';
    background-color: #1f2b2b;
    color: #D5DBDB;
}

/* HEADER, NAV. Titulo y menu de navegacion principal*/

header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

/*MAIN Contenido principal. Gnerador de memes y paneles de edicion. */

/* .contenido-principal {
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 800px;
    width: 90vw;
} */

/* Elementos de contenedor generador de meme */

 .meme-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    height: 600px;
    width: 80vw;
    background-color: rgba(35, 34, 34, 0.84);

}
 .img-insertada {
    height: 300px;
    width: auto;   
}

/* SECTION, CONTROLADORES DE IMAGEN */

section .panel-control {
    display: flex;
    flex-direction: column;
}

section .filtros-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section .filtros-contenedor buttom {
    width: 40px;

}